<div class="footer">
  <div class="section about">
    <div class="title">
      <h3>A propos de nous</h3>
      <div class="separator"></div>
    </div>

    <p>
      Une équipe de 8 personnes qualifiées dont 6 techniciens spécialisés dans l’installation et le dépannage à votre
      service chez vous, 1 personne à votre écoute au 02 33 25 17 61 de 8h à 12h00 et de 13h30 à 17h30 (16h30 le
      vendredi). Bruno BEUZELIN est disponible toute la semaine et le samedi matin pour vos projets.
    </p>

    <div class="images-container">
      <img src="./assets/img/rge-qualibat.png" alt="RGE Qualibat" />
      <img src="./assets/img/professionnel-du-gaz.png" alt="Professionnel du gaz" />
    </div>
  </div>

  <div class="section contact">
    <div class="title">
      <h3>Contactez-nous</h3>
      <div class="separator"></div>
    </div>

    <div class="text bold">Beuzelin Bruno SARL</div>
    <div class="text">68 Faubourg Saint-Eloi</div>
    <div class="text">61400 Saint Langis-lès-Mortagne</div>
    <div class="text">
      <div class="text icon-text" [matTooltip]="'Téléphone'" [matTooltipPosition]="'left'">
        <mat-icon>phone</mat-icon>
        <span>02 33 25 17 61</span>
      </div>

      <span>-</span>

      <div class="text icon-text" [matTooltip]="'Fax'" [matTooltipPosition]="'left'">
        <mat-icon>fax</mat-icon>
        <span>02 33 83 30 59</span>
      </div>
    </div>
    <div class="text icon-text" [matTooltip]="'Email'" [matTooltipPosition]="'left'">
      <mat-icon>mail</mat-icon>
      <a href="mailto:beuzelinbruno2@orange.fr">
        beuzelinbruno2@orange.fr
      </a>
    </div>
  </div>
</div>
