@import "src/styles/variables";

html, body, .theme {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.page-container {
  height: calc(100vh - (#{$subheader-height} + #{$header-height})) !important;

  a {
    text-decoration: none;
  }

  .text-container {
    display: flex;
    padding: 32px 64px;

    .left-container {
      flex: 2;

      h2 {
        margin-bottom: 32px;
      }

      .text-content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        p {
          margin: 0;
          text-align: justify;
        }
      }
    }

    .right-container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

button {
  border: none;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  border-radius: 4px !important;
  transition: opacity $transition-duration;

  &:hover {
    opacity: 0.7;
  }
}

.tablet-portrait, .handset-portrait {
  .page-container {
    .text-container {
      flex-direction: column;
      gap: 24px;
      padding: 16px 32px;
    }
  }
}

.handset-portrait {
  .page-container {
    .text-container {
      padding: 8px 16px;
    }
  }
}
