.font-header {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.085em;
  text-transform: uppercase;
}

.font-subheader {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.085em;
  text-transform: uppercase;
}
