$light-palette: (
  light: (
    100: #ffffff,
    200: #f2f2f2
  ),
  dark: (
    100: #423f3f,
    200: #474747,
    300: #606060,
  ),
  transparent: (
    300: #606060AA,
  ),
  colored: (
    emphasis: #c92e2e,
  )
)
