@use 'sass:map';

@import 'header/header.theme';
@import 'home/home.theme';
@import 'footer/footer.theme';

@mixin app-theme($theme) {
  .background {
    background-color: map.get($theme, light-palette, dark, 100);
  }

  .main {
    background-color: map.get($theme, light-palette, light, 100);
  }

  .page-container {
    .text-container {
      .title {
        color: map.get($theme, light-palette, colored, emphasis);
      }
    }
  }

  button {
    background-color: map.get($theme, light-palette, colored, emphasis);
    color: map.get($theme, light-palette, light, 100);
  }

  @include header-theme($theme);
  @include home-theme($theme);
  @include footer-theme($theme);
}
