@import "src/styles/variables";

.header-tabs {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: none;
  padding: 0;
  height: 100%;

  .mat-mdc-tab-link.mdc-tab {
    height: 100% !important;
  }

  .tab {
    flex: 1;

    .tab-link {
      border-bottom: 2px solid transparent;
      transition: border-bottom-color $transition-duration;
    }
  }

  .ng-star-inserted {
    height: 100%;
  }

  .tab-label {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color $transition-duration;

    & > span {
      margin-top: 1px;
    }
  }
}

.sublink-menu {
  max-width: unset !important;

  & > .mdc-list {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .tab-sublink {
    flex: 1;
    padding: 0 16px;
    margin: 0;
    justify-content: left;
  }
}

.web-portrait {
  .font-header {
    font-size: 20px;
  }
}

.tablet-portrait {
  .mdc-tab {
    padding: 0 20px;

    .tab-label {
      margin-top: 2px;
    }

    .font-header {
      font-size: 16px;
    }
  }
}
